* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.retangulo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1500px;
  height: 80%;
  max-height: 1500px;
  background-color: #d9d9d9;
  border-radius: 56px;
  overflow: hidden;
}
.imagem {
  width: 30%;
  height: 30%;
  margin-top: 2%;
  background-image: url('meteor_challenge_01.png');
  background-size: cover;
  background-position: center;
}
.informacoes {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
.titulo {
  font-weight: bold;
}
.blocos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}
.texto {
  margin-right: 10px;
}
.calcular {
  margin-bottom: 20px;
}
button {
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #000000;
  color: #ffffff;
}
input[type="text"] {
  border: none;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 95%;
  height: 90%;
  margin-left: 5px;
  text-align: center;
  padding-right: 5%;
}